{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}



{% block content %}

    <div class="container">

        <h3>Log in</h1>
        <div class="row">
            <div class="col-5">
                <form method="post" action="{% url 'users:login' %}">
                    {% csrf_token %}

                    {{ login_form|crispy }}
            
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
                <br>
                    
                <div><a class="btn btn-outline-info" href="{% url 'users:register' %}">Register</a>  <span  style="text-decoration: underline;">If you don't have account. </span></div>
            </div>
        </div>

    </div>

{% endblock %}