{% extends 'base.html' %}
{% block title %}Profile{% endblock %}



{% block content %}



<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4" style="width: 350px; background-color: #efefef; border: none; cursor: pointer; transition: all 0.5s;">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img src="{{ user.profile_picture.url }}" height="100" width="100" alt="Profile picture" style="transition: all 0.5s; border-radius: 5px;"/>
            </button>
            <span class="name mt-3" style="font-size: 22px; font-weight: bold">{{ user.first_name }} {{ user.last_name }}</span>
            <span style="font-size: 14px; font-weight: 600">@{{ user.username }}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                <span style="font-size: 14px; font-weight: 600">{{ user.email }}</span> 
                <span><i class="fa fa-copy"></i></span> 
            </div> 
            <div class=" d-flex mt-2"> <a href="{% url 'users:profile-edit' %}" class="btn btn-dark" role="button">Edit Profile</a> </div> 
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> 
                <!-- <span><i class="fa-brands fa-x-twitter"></i></span> <span><i class="fa-brands fa-facebook"></i></span> <span><i class="fa-brands fa-instagram"></i></span> <span><i class="fa-brands fa-linkedin"></i></span> -->
            </div> 
            <div class=" px-2 rounded mt-4 date "> 
                <span style="padding:4px; border-radius: 3px; background-color: #ccc; font-size: 14px; color: #828181; font-weight: bold">Joined:  <span style="color: #626161;">{{ user.date_joined | date:"M d, Y"}}</span></span> 
            </div> 
        </div> 
    </div>
</div>


{% endblock %}